#
# Specify System Administrator credentials
# that will login to Salesforce to retrieve the metadata.
#
# You will also need the security token.
#
# The server url is which instance to connect to:
#     For sandboxes, use https://test.salesforce.com
#     For production or developer orgs, use https://login.salesforce.com
#
sf.username=<SALESFORCE_USER_ID>
sf.password=<SALESFORCE_PASSWORD>
sf.token=<SALESFORCE_SECURITY_TOKEN>
sf.serverurl=<SALESFORCE URL>
